@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>ALO 123 Store App Destek Hattı</p>

        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>Manolya Caddesi Demir Sokak No:123 Posta Kodu: 34123 Beşiktaş/İstanbul</p>

        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>destek@storeapp.com</p>
    </div>
</div>