@model IEnumerable<Product>


@{
    var userName = ViewBag.UserName as string;
}


<div class="container my-2">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="display-6 mb-0">Showcase</h2>

        @if (User.Identity != null && User.Identity.IsAuthenticated && !string.IsNullOrEmpty(userName))
        {
            <div class="bg-secondary text-white px-4 py-2 rounded shadow-sm d-flex align-items-center">
                <i class="fas fa-smile-beam me-2"></i>
                <strong>
                    @if (userName == "Admin")
                    {
                        <span style="color: #ffc107;">Admin, Welcome back.</span>
                    }
                    else
                    {
                        <span style="color: #ffc107;">@userName, Welcome back.</span>
                    }
                </strong>
            </div>
        }
    </div>
</div>


<div class="row">
    @foreach (var prd in Model)
    {
        <partial name="_ProductCard" model="prd" />
    }
</div>
